.custom-marker {
  cursor: pointer;
  position: relative;
  transform: translateY(-50%);
}

.custom-marker::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0284c7; /* sky-600 color */
}

